{
  "chrome": {
    "default": "128.0",
    "versions": {
      "128.0": {
        "image": "selenoid/chrome:128.0",
        "port": "4444",
        "path": "/"
      },
      "127.0": {
        "image": "selenoid/chrome:127.0",
        "port": "4444",
        "path": "/"
      }
    }
  },
  "firefox": {
    "default": "112.0",
    "versions": {
      "112.0": {
        "image": "selenoid/firefox:112.0",
        "port": "4444",
        "path": "/"
      },
      "111.0": {
        "image": "selenoid/firefox:111.0",
        "port": "4444",
        "path": "/"
      }
    }
  }
}
